 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
body {
    background: hsl(0, 0%, 86%);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: 4em 1em;
    padding: 2em 1em;
    max-width: 500px;
    background: hsl(0, 0%, 100%);
    border-radius: 0px 0px 100px 0px
}

.flex {
    display: flex;
    gap: 1em;
    margin-bottom: 3em;
    border: none;
}
.visually-hidden { 
    position: absolute;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.label {
    font-size: .6rem;
    color: hsl(0, 1%, 44%);
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .4em;
    text-transform: uppercase;
}
.error .label {
    color: hsl(0, 100%, 67%);
}
.input {
    display: block;
    margin-top: .5em;
    width: 100%;
    max-width: 120px;
    padding: 1em;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 86%);
    font-weight: 900;
}
.input:focus {
    outline: none;
}
.input:hover {
    border: 1px solid hsl(259, 100%, 65%);
}
.error .input {
    border: 1px solid hsl(0, 100%, 67%);
}
.lower {
    text-align: center;
}
.btn {
    display: inline-block;
    background: hsl(259, 100%, 65%);
    border-radius: 50%;
    border: none;
    text-align: center;
    position: relative;
    top: -1.8em;
}
.btn:hover {
    background: hsl(0, 0%, 8%);
}
.error p {
    display: block;
    color: hsl(0, 100%, 67%);
    font-size: .7rem;
    font-style: italic;
}
span {
    color: hsl(259, 100%, 65%);
}
.output {
    margin-top: -1em;
    line-height: 1.2
}
.result {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
}

@media(min-width: 550px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        max-width: 550px;
        padding-left: 2em;
        padding-right: 3em;
    }
    .input {
        padding: 1.5em 1em;
    }
    .btn {
        left: 16em;
        top: -2.5em;
        width: 70px;
        height: 70px;
    }
    span {
        font-size: 4rem;
        font-weight: 900;
    }
    .result {
        font-size: 4.5rem;
        font-weight: 1000
    }
}